/* Theme colors and fonts */
body {
	background-color: #FFFFFF;
	color: #B0475A;
}
nav, #rightframe, aside {
	background-color: #CC0000;
	color: #FFFFFF;
	border: 1px solid #d5d1e9;
}
::-webkit-scrollbar-thumb {
	background: #FFFFFF;
}
/* Curved edges */
nav {
	border-radius: 0px 0px 25px 25px;
}
aside {
	border-radius: 0px 25px 0px 0px;
}
body {
	font-family: MPlus;
	font-size: 16px;
}
@font-face {
	font-family: MPlus;
	src: url('JF-Dot-MPlusS10.ttf');
}
