/* Theme colors and fonts */
body {
	background-color: #fbfaf8;
	color: #7372a0;
}
#leftframe > nav, #rightframe, aside {
	background-color: inherit;
	color: #7372a0;
	border-style: solid;
	border-color: black;
}
::-webkit-scrollbar-thumb {
	background: #7372a0;
}
body {
	font-family: MPlus;
	font-size: 16px;
}
@font-face {
	font-family: MPlus;
	src: url('JF-Dot-MPlusS10.ttf');
}
