/* Theme colors and fonts */
body {
	background-color: #d1cdb7;
	color: #454138;
}
nav, #rightframe, aside {
	background-color: #bab5a1;
	color: #454138;
	border: 1px solid black;
}
::-webkit-scrollbar-thumb {
	background: #454138;
}
/* Curved edges */
nav {
	border-radius: 0px 0px 25px 25px;
}
aside {
	border-radius: 0px 25px 0px 0px;
}
body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	font-weight: lighter;
}
