/* Theme colors and fonts */
body {
	background-color: #d1cdb7;
	color: #454138;
}
#logout, #galleryFrame, #right_frame, #tag_frame, #right_frame_flex {
	background-color: #bab5a1;
	color: #454138;
}
#logout, #galleryFrame, #right_frame, #tag_frame, #right_frame_flex,
#thumbs img {
	border-style: solid;
	border-color : black;
}
body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	font-weight: lighter;
}
