/* Theme colors and fonts */
body {
	background-color: #BBF3FF;
	color: #B0475A;
}
nav, #rightframe,  aside {
	background-color: #ed544c;
	color: #ffffff;
}
nav, #rightframe, aside {
	border: 1px solid black;
}
main#thumbs > img {
	border: 2px solid black;
}
/* Curved edges */
nav {
	border-radius: 0px 0px 25px 25px;
}
aside {
	border-radius: 25px 25px 0px 0px;
}
#rightframe {
	border-radius: 0px 0px 0px 25px;
}
body {
	font-family: MPlus;
	font-size: 16px;
}
@font-face {
	font-family: MPlus;
	src: url('JF-Dot-MPlusS10.ttf');
}
