/* Theme colors and fonts */
body {
	background-color: #e43535;
	color: #971414;
}
#leftframe > nav, #rightframe, aside {
	background-color: #FFD101;
	border-style: solid;
	border-color: black;
}
::-webkit-scrollbar-thumb {
	background: #6F3A3A;
}
body {
	font-family: Century Gothic;
	font-size: 16px;
}
@font-face {
	font-family: Century Gothic;
	src: url('CenturyGothic.ttf');
}
