/* Theme colors and fonts */
body {
	background-color: #83d4cd;
	color: #3e3f40;
}
#leftframe > nav, #rightframe, aside {
	background-color: white;
	color: #3e3f40;
	border-style: solid;
	border-color: black;
	box-shadow: -5px 5px 10px black;
}
#rightframe {
	border-radius: 0px 0px 0px 15px;
}
::-webkit-scrollbar-thumb {
	background: #3e3f40;
}
body {
	font-family: MPlus;
	font-size: 16px;
}
@font-face {
	font-family: MPlus;
	src: url('JF-Dot-MPlusS10.ttf');
}
