/* This file describes the structure of bigmike. Any changes here will
 * affect all users regardless of their current stylesheet.
 *
 * If you are
 * looking to make a color change, it's likely that you don't mean to
 * edit this file. Back away slowly and carefuly; nothing will break if
 * you don't touch it.
 *
 * yumi
 */

/* Fit it all on one page */
#container {
	position: absolute;
	overflow: hidden !important;
	top: 0;
	left: 0;
	width: 100%;

	/* URL status bar gets in the way otherwise */
	height: calc(100% - 25px);
	margin-bottom: 25px;
}
/* Without this, our borders overflow! */
#leftframe > nav, #rightframe, aside {
	box-sizing: border-box;
}
/* Where the mascot, banner, other things go */
#leftframe {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 30%;
}
/* Where the important shit goes */
#rightframe {
	position: absolute;
	top: 0;
	left: 30%;

	/* funkmaster flex */
	display: flex;
	flex-direction: column;

	/* Share space with #leftframe */
	width: 70%;
	max-height: 100%;

	/* Shouldn't happen that we have overflow, but
	just in case. . . */
	overflow: hidden;

	/* Room to beathe */
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 10px;

	/* No borders on document edge */
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 1px;
}
h1, h2, h3, h4, ul {
	margin-block-start: 0;
	margin-block-end: 0;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
/* Before our main content */
#rightframe > header {
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	justify-content: space-between;

	/* Don't shrink the header for space! */
	flex: 0 0 auto;
}
#rightframe > header > * {
	padding-left: 5px;
	padding-right: 5px;
	/* Max one-line */
	white-space: nowrap;
	/* Cut off long items */
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;

	flex: 0 0 auto;
}
footer > * {
	padding-left: 5px;
	padding-right: 5px;
}

#leftframe > nav {
	position:relative;
	padding: 10px;
	top: 0px;
	margin: auto;
	width: 50%;
	max-width: 300px;
	text-align:center;

	border-radius: 0px 0px 25px 25px;
	border-width: 1px;
	border-top-width: 0px;
}
#leftframe > aside {
	border-width: 1px;
}
@media only screen and (max-width: 600px) {
	#container {
		margin-bottom: 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	#rightframe {
		position: initial;
		width: 100%;
		border: 0px;
		border-bottom: 1px;
		border-left-width: 0px;
		z-index: 1;
	}
	#leftframe {
		position: initial;
		height: initial;
		width: 100%;
		z-index: 1;
	}
	#leftframe nav {
		top: initial;
		bottom: initial;
		max-height: initial;
		max-width: initial;
		text-align: left;
		width: 100%;
		border-radius: 0px;
	}
	#leftframe aside {
		position: initial;
		max-height: initial;
		width: 100%;
		max-width: initial;
		border: 0px;

		border-radius: 0px;
	}
	#mascot {
		z-index: 0;
	}
	#motd {
		display: none !important;
	}
}
a {
	text-decoration: underline;
	color: inherit;
}
a:hover {
	cursor: pointer;
	color: #5ABFCF;
}
#mascot {
	position: fixed;
	max-width: 30%;
	bottom: 0;
	max-height: 80%;
	filter:none;
        -webkit-filter: grayscale(100%);
        -moz-filter:    grayscale(100%);
        -ms-filter:     grayscale(100%);
        -o-filter:      grayscale(100%);
        transition: all 300ms ease;
	display: block;
}
#mascot:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
        -moz-filter:    grayscale(0%);
        -ms-filter:     grayscale(0%);
        -o-filter:      grayscale(0%);
}
/* The content we came to see */
main {
	overflow: auto;
	width: 100%;

	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	/* Room to breathe */
	margin-top: 10px;
	margin-bottom: 10px;
}
main td,
main th {
	white-space: nowrap;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
main table {
	color: inherit;
	margin: auto;
}
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	image-orientation: from-image;
}
input, select, textarea, select {
	background-color: #F7F7F7;
        font-family: inherit;
	border: 1px solid black;
	margin-bottom: 1px;
	padding: 0px;
	font-size: 1em;
}
input[type=submit]
{
	padding-left: 5px;
	padding-right: 5px;
}
a {
	outline: none;
}
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
::-webkit-scrollbar {
	width: 4px;
	height: 0px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
.blink {
	animation: animation-blink 1.2s steps(2, start) infinite;
}
@keyframes animation-blink {
	to { visibility: hidden; }
}
