/* Theme colors and fonts */
body {
	background-color: #e43535;
	color: #6F3A3A;
}
#leftframe > nav, #rightframe, aside {
	background-color: #FFD101;
	border: 1px solid #d5d1e9;
}
::-webkit-scrollbar-thumb {
	background: #6F3A3A;
}
body {
	font-family: Century Gothic;
	font-size: 16px;
}
@font-face {
	font-family: Century Gothic;
	src: url('CenturyGothic.ttf');
}
