/* This file describes the structure of bigmike. Any changes here will
 * affect all users regardless of their current stylesheet.
 *
 * If you are
 * looking to make a color change, it's likely that you don't mean to
 * edit this file. Back away slowly and carefuly; nothing will break if
 * you don't touch it.
 *
 * yumi
 */

/* Fit it all on one page */
#container {
	position: absolute;
	overflow: hidden !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Without this, our borders overflow! */
#leftframe > nav, #rightframe, aside {
	box-sizing: border-box;
}
/* Where the mascot, banner, other things go */
#leftframe {
	float: left;
	position: relative;
	height: 100%;
	width: 30%;
}
/* Where the important shit goes */
#rightframe {
	/* funkmaster flex */
	display: flex;
	flex-direction: column;

	/* Share space with #leftframe */
	width: 70%;
	max-height: 100%;

	/* Shouldn't happen that we have overflow, but
	just in case. . . */
	overflow: hidden;

	/* Room to beathe */
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-top: 3px;

	/* No borders on document edge */
	border-top-width: 0px !important;
	border-right-width: 0px !important;
}

/* Tagging frame */
aside {
	position: absolute;
	bottom: 0;
	max-height:80%;
	padding: 10px;
	width: 95%;
	max-width: 400px;
	overflow-y: scroll;

	border-radius: 0px 15px 0px 0px;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
}
h1, h2, h3, ul {
	margin-block-start: 0;
	margin-block-end: 0;
}
/* Before our main content */
header {
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	justify-content: space-between;

	/* Don't shrink the header for space! */
	flex: 0 0 auto;
}
header > * {
	/* Max one-line */
	white-space: nowrap;
	/* Cut off long items */
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	display: flex;
	align-content: flex-start;
	flex-flow: row nowrap;
	justify-content: space-between;

	flex: 0 0 auto;
}

#leftframe > nav {
	position:relative;
	padding: 10px;
	top: 0px;
	margin: auto;
	width: 50%;
	max-width: 300px;
	text-align:center;

	border-radius: 0px 0px 25px 25px;
	border-top-width: 0px !important;
}
a {
	text-decoration: underline;
	color: inherit;
}
a:hover {
	cursor: pointer;
	color: #5ABFCF;
}
#mascot {
	position: absolute;
	bottom: 0;
	max-width: 100%;
	max-height: 80%;
	filter:none;
        -webkit-filter: grayscale(100%);
        -moz-filter:    grayscale(100%);
        -ms-filter:     grayscale(100%);
        -o-filter:      grayscale(100%);
        transition: all 300ms ease;
	display: block;
}
#mascot:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
        -moz-filter:    grayscale(0%);
        -ms-filter:     grayscale(0%);
        -o-filter:      grayscale(0%);
}
/* Tag frame */
aside {
	display: block;
	overflow:auto;

	/* Scrollbar on left */
	direction: rtl;
	padding-left: 5px;
}
aside > * {
	direction: ltr;
}
aside > header {
	justify-content: center;
}
/* Tag list */
aside table {
	table-layout: fixed;
	width: 100%;
}
aside table td {
	margin-left: 2px;
	margin-right: 2px;
}
/* Expand the table cells to full size so we get a well-sized table */
aside table td > * {
	width: 100%;
}
aside table input {
	color: inherit;
	background-color: transparent;
	font-size: 1em;
}
/* Search main page */
/* The content we came to see */
main {
	display: flex;

	overflow: scroll;

	width: 100%;

	/* Room to breathe */
	margin-top: 10px;
	margin-bottom: 10px;
}
main.stack {
	flex-flow: column;
	align-items: center;
}
main.single {
	/* hack for firefox */
	min-height: 0;
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,.3))
	drop-shadow(0px 0px 10px rgba(0,0,0,.3));

	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
main.single > * {
	/* Grow small items !important */
	flex: 1 1 auto;
}
/* Hack allows us to keep maintain the content aspect ration */
main.single > #hack > * {
	display: block;
	/* Account for margin when doing full height */
	max-height: calc(100% - 20px);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;

	margin-top: 10px;
	margin-bottom: 10px;
}

main.thumbs {
	flex-flow: row wrap;

	/* Otherwise we lose the aspect ratio */
	justify-content: center;
	align-items: center;

	overflow: scroll;

	/* scroll between these borders */
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
main.thumbs > img {
	cursor: pointer;
	/* Fit four per line plus margin */
	width: calc(25% - 10px);
	min-width: 150px;
	max-width: 500px;

	/* Looks a little close w/o space */
	margin: 5px;
}

/* Listing files & things */
.listing {
	overflow: scroll;
	width: 100%;

	/* scroll between these borders */
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/* Search form (includes searchbox & options) */
#search {
	width: 70%;
	margin: auto;
	padding-bottom: 10px;
}
#search > * {
	width: 100%;
}
#search > #params {
	display: flex;
	margin-top: 10px;
}
#search > #params > * {
	flex: 1 1 auto;
}
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	image-orientation: from-image;
}
input, select, textarea, select {
	background-color: #F7F7F7;
        font-family: inherit;
	border: 1px solid black;
	padding: 0px;
	font-size: 1em;
}
input[type=submit]
{
	padding-left: 5px;
	padding-right: 5px;
}
a {
	outline: none;
}
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
::-webkit-scrollbar {
	width: 4px;
	height: 0px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
.blink {
	animation: animation-blink 1.2s steps(2, start) infinite;
}
@keyframes animation-blink {
	to { visibility: hidden; }
}
