/* This file describes the structure of bigmike. Any changes here will
 * affect all users regardless of their current stylesheet.
 *
 * If you are
 * looking to make a color change, it's likely that you don't mean to
 * edit this file. Back away slowly and carefuly; nothing will break if
 * you don't touch it.
 *
 * yumi
 */

/* Fit it all on one page */
#container {
	position: absolute;
	overflow: hidden !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Without this, our borders overflow! */
nav, #rightframe, aside {
	box-sizing: border-box;
}
/* Where the mascot, banner, other things go */
#leftframe {
	float: left;
	position: relative;
	height: 100%;
	width: 30%;
}
/* Where the important shit goes */
#rightframe {
	/* funkmaster flex */
	display: flex;
	flex-direction: column;

	/* Share space with #leftframe */
	width: 70%;
	max-height: 100%;

	/* Shouldn't happen that we have overflow, but
	just in case. . . */
	overflow: hidden;

	/* Room to beathe */
	padding-left: 20px;
	padding-right: 20px;
}

/* Tagging frame */
aside {
	position: absolute;
	bottom: 0;
	max-height:80%;
	padding: 10px;
	width: 95%;
	max-width: 400px;
	overflow-y: scroll;
}
/* Before our main content */
header {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}
header > * {
	/* Cut off long items in the header*/
	overflow: hidden;
	text-overflow: ellipsis;
}

nav {
	position:relative;
	padding: 10px;
	top: 0px;
	margin: auto;
	width: 50%;
	max-width: 300px;
	text-align:center;
}
a {
	text-decoration: underline;
	color: inherit;
	outline: none;
}
a:hover {
	cursor: pointer;
	color: #5ABFCF;
}
#mascot {
	position: absolute;
	bottom: 0;
	max-width: 100%;
	max-height: 80%;
	filter:none;
        -webkit-filter: grayscale(100%);
        -moz-filter:    grayscale(100%);
        -ms-filter:     grayscale(100%);
        -o-filter:      grayscale(100%);
        transition: all 300ms ease;
	display: block;
}
#mascot:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
        -moz-filter:    grayscale(0%);
        -ms-filter:     grayscale(0%);
        -o-filter:      grayscale(0%);
}
/* Tag frame */
aside {
	display: block;
	overflow:auto;
}
/* A specific tag inside the tag frame */
figure {
	display: flex;
}
figure > input {
	color: inherit;
	background-color: transparent;
	font-size: 1em;
}
/* The content we came to see */
main {
	display: flex;
}
main#single {
	/* Center content */
	justify-content: center;
	align-items: center;
	min-height: 0;
}
main#single > * {
	max-height: 100%;
}
main#thumbs {
	flex-flow: row wrap;
	overflow: scroll;

	/* Otherwise we lose the aspect ratio */
	justify-content: center;
	align-items: center;

}
main#thumbs > img {
	cursor: pointer;
	max-width: 250px;

	/* Looks a little close w/o padding */
	border-radius: 10px 10px 10px 10px;
	margin: 2px;
}
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	image-orientation: from-image;
}
input,select,textarea,select {
	background-color: #F7F7F7;
        font-family: inherit;
	border: 1px solid black;
	padding: 0px;
}
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
::-webkit-scrollbar {
        width: 0px;
	height: 0px;
}
